:root {
	--black: #2d2d2d;
	--white: #fff;
	--green: #009379;
	--red: #ff6250;
	--pink: #f3afa8;
	--grey: #f3f3f3;
	--yellow: #f7d684;
    --first-family: "Epilogue", sans-serif;
    --second-family: "Mulish", sans-serif;
    --third-family: "Caveat", sans-serif;
    /* font-family: "Epilogue", sans-serif; */
    /* font-family: "Mulish", sans-serif; */
    /* font-family: "Caveat", sans-serif; */

}
*{
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* navbar styles start here */
#navbar{
    border-bottom: 2px solid #ccc;
    font-family: var(--first-family);
}
#navbar ul{ 
    gap: 20px;
}
#navbar .logo{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#navbar .menu{
    align-items: center;
    display: flex;
    font-family: var(--main-font);
}
#navbar ul li{
    font-size: 18px;
    font-weight: 500;
}
#navbar ul li a{
    color: black;
    transition: .3s;
    border-bottom: 2px solid transparent;
}
#navbar ul li:hover a{
    border-bottom: 2px solid orangered;
}
/* navbar styles end here */

/* banner styles start here */
#banner {
    padding: 60px 0;
}
#banner .banner_para{
    width: 60%;
}
#banner .banner_para h5{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--black);
}
#banner .banner_para h1{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 68px;
    color: var(--black);
}
#banner .banner_para p{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: var(--black);
}
#banner .banner_para a{
    font-family: var(--first-family);
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    line-height: 83px;
    width: 211px;
    height: 78px;
    background: var(--black);
    color: var(--white);
    transition: .3s;
}
#banner .banner_para a:hover{
    background: var(--green);
}
#banner .banner_img{
    width: 40%;
}
#banner .banner_img img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#banner .brand_logos{
    gap: 181px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin-top: 60px;
}
/* banner styles end here */
/* skill section styles start here */
#skills{
    padding: 80px 0;
    margin: 20px 0;
}
#skills .skills_details_1{
    width: 33.33%;
    text-align: center;
    cursor: pointer;
}
#skills h4{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 27px;
    line-height: 156%;
    text-align: center;
    color: var(--black);
}
#skills p{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    text-align: center;
    color: var(--black);
}
/* skill section styles ends here */
/* latest works section styles start here */
#latest{
    padding: 80px 0;
}
#latest h2{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 131%;
    text-align: center;
    color: var(--black);
}
#latest .working_details{
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
}
#latest .working_details img{
    width: 394px;
}
#latest .working_details h4{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--black);
    margin: 0;
    text-align: left;
}
#latest .working_details p{
    font-family: var(--first-family);
    font-weight: 400;
    margin: 0;
    font-size: 17px;
    color: var(--black);
    text-align: left;
}
/* latest works section styles ends here */
/* testimonials section styles start here */
#test h2{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 131%;
    text-align: center;
    color: var(--black);
    margin-bottom: 42px;
}
#test .test_details{
    width: 29%;
    background: var(--grey);
    padding: 40px 20px;
    margin: 10px 10px 10px 0;
}
#test .test_details p{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--black);
    text-align: justify;
    margin-bottom: 68px;
}
#test .test_details .img_details{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#test .test_details .img_details img{
    width: 60px;
    height: 60px;
}
#test .test_details .img_details strong{
    display: block;
    font-family: var(--first-family);
}
/* testimonials section styles ends here */
/* bottom section styles start here */
#bottom .bottom_main{
    width: 50%;
    margin-bottom: 46px;
}
#bottom .bottom_content h4{
    font-family: var(--first-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 131%;
    color: var(--black);
}
#bottom .bottom_content p{
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: var(--black);
}
#bottom .bottom_main .icons a{
    margin-right: 24px;
    display: inline-block;
    font-size: 24px;
    color: var(--black);
    transition: .3s;
}
#bottom .bottom_main .icons a:hover{
    color: var(--green);
}
#bottom .form{
    margin-top: 108px;
}
#bottom .form input{
    width: 520px;
    height: 60px;
    display: block;
    background: var(--grey);
    border: none;
    padding: 0 20px;
    font-family: var(--first-family);
    font-size: 16px;
    margin: 0 0 12px 0;
}
#bottom .form a{
    font-family: var(--first-family);
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    line-height: 83px;
    width: 211px;
    height: 78px;
    background: var(--black);
    color: var(--white);
}
/* bottom section styles end here */
